*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: #eee;
}

a:hover{
    color: #444;    
}

#bar-nav{
	width: 100vw;
	height: 60px;
	position: relative;
}
.nav{
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 10%;
	background: #994488;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}
.icon{
	width: 10%;

}
.icon span{
	color: #7ff;
}
.nav ul{
	width: 35%;
	display: flex;
	justify-content: space-around;
	font-size: 1.3em;
}
.nav a{
	text-decoration: none;
	padding: 20px 0px;
}
.lorem {
	position: absolute;
	font-size: 2EM;
}
/* Start About */
#about{
	height: 100vh;
	width: 100vw;
	background-image: url(media/lenguaje-programacion.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
/* Start Skill */
#Skill{
	width: 100vw;
	height: 90vh;
	background: #eee;
}
